useDynLib(rrp)

export(newXPtr)
export(setXPtr)
export(addXPtr)
export(mulXPtr)
export(applyXPtr)
export(XPtrToDist)
export(rrp.class)
export(rrp.dist)
export(rank.dist)
export(rrp.impute)
export(rrp.predict)
export(addDist)
export(setDist)




